Source: lliurex-base-files
Section: admin
Priority: important
Maintainer: Equipo LliureX <lliurex@gva.es> 
Build-Depends: debhelper (>= 10)
Standards-Version: 4.4.1
Homepage: http://lliurex.net
#Vcs-Git: https://gitlab.com/gaticos/lliurex-base-files.git

Package: lliurex-base-files
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, python, adduser, lliurex-version-timestamp
Description: LliureX base system miscellaneous files
 lliurex-base-file installs the absolute minimal custom files
 required for LliureX. "Lliurexification" starts here.
 .
 The package installs the lliurex-version utility and a wrapper
 over the lsb_release utility (for hard-coded Ubuntu-specific
 applications).

